*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 30%;
    /* border: 1px solid; */
    position: fixed;
    top: 0;
}
.bg-video{
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    filter: brightness(38%);
    /* z-index: -1;
    left: 0;
    right: 0;
    top: 0;     */
}
.nav-list{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 47%;
    left: 0;
    display: flex;
    justify-content: space-around;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-top: -0.8%;
}
#search{
    width: 15%;
    height: 17%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}
.sec1{
    width: 95%;
    height: 75%;
    border: 1px solid;
    margin-top: 15%;
    margin-left: 2.5%;
    display: flex;
    margin-bottom: -5%;
}
.list{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    padding-top: 2%;
}
.list a{
    font-size: x-large;
    /* text-decoration:none; */
    font-weight: 600;
}
iframe{
    width: 100%;
    height: 100%;
}
footer{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 37%;
    /* border: 1px solid; */
    /* background-image: linear-gradient(360deg, black, rgb(241, 236, 236)); */
    background: rgb(134,172,193);
    background: linear-gradient(360deg, rgb(24, 23, 23) 0%, rgb(205, 208, 209) 80%);
}